@font-face{
font-family: "Agency FB";
src: url("/fonts/agency_fb.ttf");
font-family: "Alisandra Demo";
src:url("/fonts/Alisandra\ Demo.ttf");
}

body{
    background:url(/Images/Christmas\ Background.jpg) no-repeat center center fixed;
}
@media only screen and (orientation: portrait){
    body{
        background:url(/Images/Background\ Mobile.jpg) no-repeat;
        background-size: cover;
    }
}
h1{
background-color:#343652;
color: whitesmoke;
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
font-family: 'Alisandra Demo';
}
h2{
background-color: #FEFFED;
color:#4E4D4B;
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
font-weight:lighter;
font-size:30px;
font-family:'Agency FB'
}
hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
margin-bottom: 40px;
}
div.container{
width: 900px;
height: 610px;
margin:35px auto;
font-family: 'Agency FB';
}
div.main{
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
float:left;
margin-left:25%;
margin-top:25%;
background-color: whitesmoke;
font-size:20px;
font-family:'Agency FB';
}
input[type=text]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 20px;
border-radius: 5px;
font-family: 'Agency FB';
}
label{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
font-weight: bold;
}
center{
font-size:32px;
}
.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}
input[type=submit]{
font-size: 22px;
font-family: 'Agency FB';
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=submit]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}